@font-face {
  font-family: 'VT323';
  font-style: 'normal';
  font-weight: 100;
  src: local('VT323'), url('/VT323-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins';
}

::selection {
  background-color: blue !important;
}
